html, body {
	width: 100%;
	height: 100%;
	background: url('/assets/img/food1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	background: rgba(0, 0, 0, 0.7);

}

.notpaid {
	color:red;
}

.dropdown-content li>a {
	color: black;
}

.modal {
	background: rgba(255, 255, 255, 0.7);
	margin-top: 15px;
}

.validate, .title {
	color: black;
}

/* label color */
.input-field label {
	color: #000;
}

.settings {
	background: rgba(255,255,255,0.7);
	margin-top: 15px;
}

.heading {
	margin: 0.8rem 0 0.8rem 0;
}

.brand-logo {
	margin-left: 0.2%;
	max-height: 64px;
}

.card-bg, .grey.lighten-3, .transparent-bg {
	background: rgba(255,255,255,0.7) !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #039be5;
}

.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled {
	color: #B71C1C !important;
}

.card, .card-action {
	text-align: center;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
	max-height: 75%;
	overflow: hidden;
}

#reminder{
	color: red;
	font-size: 1em;
}

.waiting, .red-font {
	color: red !important;
}

.magic-btn {
	margin-bottom: 15px;
}

#amount-owed {
	color: green;
	font-size: 1.3em;
}

.btn-flat.disabled {
	color: green;
	margin-bottom: 10px;
}


.del{
	margin-top: 2%;
}

.delbtn{
	color: white;
}

.notif-heading {
	font-size: 1.8em;
	padding-top: 2%;
}

.bold {
	font-weight: bold !important;
}

.header {
	height: 100%;
}



